<section class="clean-block clean-form dark" style="background-image: url(&quot;assets/img/hacienda38.png&quot;);padding-top: 100px;">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info" style="color: #eeeeee !important;font-size: 40px;">About <strong>Hacienda</strong><br></h2>
            <p style="color: #ffffff;font-size: 20px;">we are creating opportunities for everyone in the commodities ecosystem<br></p>
        </div>
    </div>
</section>
<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="text-center block-heading"><img class="img-fluid" src="assets/img/hacienda23.png" style="height: 150px;">
                <h5 class="text-justify"><strong>Hacienda Africa Commodity And Exchange Limited. (HACX)&nbsp;&nbsp;</strong>is a limited liability company incorporated by the Corporate Affairs Commission (CAC) under the laws of the Federal Republic of Nigeria. The company
                    is into commodity exchange of products not limited to soybeans, paddy rice, cashew, ginger, maize and sorghum.<br><br>HACX, has a robust company and administrative structure that ensures round the clock operational&nbsp; efficiency
                    added to its trusted and highly experience team with capability of managing people and processes.<br><br>The company is proud of reputable captain of industries as advisory board of directors with their experience across wide range
                    of industries. They provide effective board leadership and manage business affairs with all stakeholders by carrying-out their oversight functions which is a key objective for shareholders and the management team.<br><br>Based
                    on our analytical skills and understanding of client's required for making an inform decision for strategic choices for investment, our expertise provides the needed opportunity to assess and measure linkages between competing
                    commodity for investment.<br>Thus, means we assure our clients by addressing their concern to assessing the market size, forecasting demand, pricing and evaluating market drivers is well taking care of and their investment secured
                    with us.<br><br>We invest lots of effort in studying information to make us thrive for decades to keep growing and achieve our goals.<br></h5>
            </div>
        </div>
        <section class="clean-block about-us" style="background-color: rgba(0,0,0,0.03);">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><strong>Our team</strong><br></h2>
                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/hacienda46.jpg" style="height: 350px;">
                            <div class="card-body info" style="height: 131px;">
                                <h4 class="card-title">His Royal Highness, Alh. Nasir Ado Bayero, Emir of Bichi<br></h4>
                                <p class="card-text">Patron<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/hacienda45.jpg" style="height: 350px;">
                            <div class="card-body info" style="height: 130px;">
                                <h4 class="card-title">Alh. Usman Balarabe<br></h4>
                                <p class="card-text">Manager<br></p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/hacienda49.jpg" style="height: 350px;">
                            <div class="card-body info" style="height: 130px;">
                                <h4 class="card-title">Arc Abubakar Saidu Dansadau<br></h4>
                                <p class="card-text">Director<br></p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="row justify-content-center mb-5">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/hacienda50.jpg" style="height: 350px;">
                            <div class="card-body info" style="height: 131px;">
                                <h4 class="card-title">Alhaji. Aliyu Ango<br></h4>
                                <p class="card-text">Director<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/hacienda47.jpg" style="height: 350px;">
                            <div class="card-body info" style="height: 130px;">
                                <h4 class="card-title">Alh. Abdullahi Yakubu Maidoya<br></h4>
                                <p class="card-text">Manager<br></p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/hacienda48.jpg" style="height: 350px;">
                            <div class="card-body info" style="height: 130px;">
                                <h4 class="card-title">Eng. Aminu Rabiu Suleiman<br></h4>
                                <p class="card-text">Director<br></p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Our <strong>Entities</strong><br></h2>
                    <p>Our solutions deliver impressive wins in trading, financing and market system development for Africa’s commodities market.<br></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box indigo-gradient feature-cards shadow"><i class="fas fa-chart-bar icon" style="color: #ffffff;"></i>
                        <h4><strong>Fair Trade Limited</strong><br></h4>
                        <p>Creating an inclusive, sustainable and efficient food system for Africa<br></p>
                    </div>
                    <div class="col-md-5 feature-box red-gradient feature-cards shadow"><i class="fas fa-retweet icon" style="color: #ffffff;"></i>
                        <h4><strong>Commodities Exchange</strong><br></h4>
                        <p>Building an inclusive and efficient market system for commodities in Africa<br></p>
                    </div>
                    <div class="col-md-5 feature-box green-gradient feature-cards shadow"><i class="fas fa-chart-line icon" style="color: #ffffff;"></i>
                        <h4><strong>Investment Limited</strong><br></h4>
                        <p>Facilitating capital flows to grow inclusive commodity value chains in Africa<br></p>
                    </div>
                    <div class="col-md-5 feature-box blue-gradient feature-cards shadow"><i class="fas fa-cogs icon" style="color: #ffffff;"></i>
                        <h4><strong>Efficient Technology</strong><br></h4>
                        <p>We help you develop apps to deliver digital services and technology.<br></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="clean-block add-on social-icons blue" style="margin-bottom: -102px;">
            <div class="icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
        </div>
    </section>
</main>
