<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Service Page</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image5.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                        </div>
                        <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image6.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                        </div>
                        <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image1.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                        </div>
                        <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image1.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                        </div>
                        <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image5.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                        </div>
                        <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image6.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                        </div>
                        <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-8">
                <h5><strong>HACIENDA</strong><br></h5>
                <ul>
                    <li><a href="#">Maximize the value that farmers and other market participants derive from their activities. which is benefiting from a growing commodities ecosystem. In this way, we are indeed growing markets and connecting trade.<br></a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-lg-4">
                <h5><strong>Contact</strong><br></h5>
                <ul>
                    <li><a href="#">No 22, I. T. Igbani street,<br>Jabi District,<br>Abuja Nigeria<br>+2348058888668<br></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Copyright&nbsp;Hacienda Africa | All Rights Reserved<br></p>
    </div>
