.round-border {
  border-radius: 20px;
}

.blue-gradient {
  background: linear-gradient(180deg,#21c8f6,#637bff);
  color: #ffffff;
}

.blue-gradient {
  background: linear-gradient(180deg,#21c8f6,#637bff);
  color: #ffffff;
}

.green-gradient {
  background: linear-gradient(180deg,#6edcc4,#1aab8b);
  color: #ffffff;
}

.yello-gradient {
  background: linear-gradient(0deg,#f19a1a,#ffc73c);
  color: #ffffff;
}

.red-gradient {
  background: linear-gradient(180deg,#f44881,#ec454f);
  color: #ffffff;
}

.indigo-gradient {
  background: linear-gradient(0deg,#8b60ed,#b372bd);
  color: #ffffff;
}

.feature-cards {
  min-width: 400px;
  min-height: 150px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
  padding-top: 40px;
}

.feature-cards-np {
  min-width: 440px;
  min-height: 120px;
  margin-bottom: 30px;
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
  border-radius: 10px;
  /*padding-top: 40px;*/
}

