<main class="page landing-page">
    <div class="pt-3 blue-gradient" style="backroundtop: 0px; color: #fff !important; z-index: 99999 !important;">
        <marquee behavior="scroll" direction="left" Scrollamount=8>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mx-7">Sesame Seed Cleaned
                <strong>₦805,000</strong> <span
                    class="text-success">100.00%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="ml-7">SCIT Maize <strong>₦240,000</strong> <span
                        class="text-danger">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="mx-7">Sesame Seed Cleaned <strong>₦805,000</strong> <span
                        class="text-success">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="mx-7">Soyabean <strong>₦400.8</strong> <span
                        class="text-danger">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="mx-7">Sesame Seed Cleaned <strong>₦805,000</strong> <span
                        class="text-success">100.00%</span></span></span></marquee>
    </div>
    <section class="clean-block clean-hero"
        style="background-image: url(&quot;assets/img/Berium-7.jpg&quot;);color: rgba(3,49,77,0.73);">
        <div class="text">
            <h1 style="font-size: 50px;"><strong>Welcome To Hacienda</strong><br></h1>
            <p style="font-size: 26px;">Helping Africa Feed itself<br></p><a
                class="btn btn-outline-light btn-lg shadow-sm" role="button" href="about-us.html">Learn More</a>
        </div>
    </section>
    <section class="shadow-sm clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="color: #1e73be;">Building an inclusive digitized <strong>agriculture
                        economy.</strong><br></h2>
                <p>We provide market participants a platform to carry&nbsp;out trades seamlessly<br></p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail img-fluid border rounded shadow-sm"
                        src="assets/img/6527992_preview.png"></div>
                <div class="col-md-6">
                    <h3 style="color: #1e73be;">Provides assured market for <strong>farmers</strong><br></h3>
                    <div class="getting-started-info">
                        <p>HACX provides assured market for farmers to sell their commodities at market determined
                            prices and earn more income which can be reinvested to increase production<br></p>
                    </div><a class="btn btn-outline-primary btn-lg shadow-sm" role="button"
                        href="about-us.html">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <section class="py-5 bg-info text-white blue-gradient">
            <div class="container text-center boxed-countdown" data-countdown="11/27/2020 02:51:00">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h1><strong>Hacienda </strong>Main Commodities</h1>
                    </div>
                    <div class="col-6 col-md-3 mt-3"><img class="img-fluid shadow"
                            src="assets/img/ginger-0c5f03de43ba8161962b60edc84a921a.jpg" style="height: 159px;">
                        <p class="text-countdown rounded-bottom shadow">Ginger</p>
                    </div>
                    <div class="col-6 col-md-3 mt-3"><img class="img-fluid shadow"
                            src="assets/img/maize-d0b9744f7770fa7a99bc5260de371abf.jpg" style="height: 159px;">
                        <p class="text-countdown rounded-bottom shadow">Maize</p>
                    </div>
                    <div class="col-6 col-md-3 mt-3"><img class="img-fluid shadow"
                            src="assets/img/paddy-rice-94d8fe24e118ba5960842b5b5224b803.jpg" style="height: 159px;">
                        <p class="text-countdown rounded-bottom shadow">Rice</p>
                    </div>
                    <div class="col-6 col-md-3 mt-3"><img class="img-fluid shadow"
                            src="assets/img/cocoa-3f31a35d2fdad09870a6c222088e4a60.png"
                            style="height: 159px;background-color: #ffffff;">
                        <p class="text-countdown rounded-bottom shadow">Coco</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="text-center mt-5" data-countdown="08/27/2020 04:12:32">HACIENDA is building a trust
                    economy for commodities in Africa. Our processes and activities are targeted at a future of
                    inclusive and efficient markets.<br></p>
            </div>
        </section>
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">The Core <strong>Business</strong><br></h2>
                <p class="text-justify">Our core values revolve around Integrity; Trust; Excellence and Teamwork,
                    which denotes who we are and what we stand for. It's our commitment to quality and help us
                    accomplish our vision and purposes.<br></p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box indigo-gradient feature-cards shadow"><i class="fas fa-cogs icon"
                        style="color: #ffffff;"></i>
                    <h4><strong>Efficient Technology</strong><br></h4>
                    <p>We help you develop apps to deliver digital services and technology.<br></p>
                </div>
                <div class="col-md-5 feature-box feature-cards green-gradient shadow"><i class="icon-shuffle icon"
                        style="color: #ffffff;"></i>
                    <h4><strong>Skilled Workforce</strong><br></h4>
                    <p>Put innovative ideas into practice and increase productivity.<br></p>
                </div>
                <div class="col-md-5 feature-box yello-gradient feature-cards shadow"><i
                        class="fas fa-money-check-alt icon" style="color: #ffffff;"></i>
                    <h4><strong>Access to funding</strong><br></h4>
                    <p>Financing for small holder farmers to obtain quality inputs<br></p>
                </div>
                <div class="col-md-5 feature-box red-gradient feature-cards shadow"><i
                        class="fab fa-confluence icon" style="color: #ffffff;"></i>
                    <h4><strong>Business Growth</strong><br></h4>
                    <p>We collaborate in the businesses of Shipping, Dry Port Operations and allied services<br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading"></div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail img-fluid shadow-sm"
                        src="assets/img/getty_88621317_50396.jpg"></div>
                <div class="col-md-6">
                    <h3><strong>OUR VISION</strong><br></h3>
                    <div class="getting-started-info">
                        <p class="text-justify">To assist in the Nigerian economic diversification agenda from oil
                            to non oil foreign exchange earnings by increasing farmers access to international
                            markets, thereby enhancing export development in non-oil sectors generating
                            increased tax revenue leading to direct and indirect employment creation across the
                            whole of the value chain.<br></p>
                    </div><a class="btn btn-outline-primary btn-lg" role="button" href="about-us.html">Learn
                        More</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="block-heading"></div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h3><strong>OUR CORE OBJECTIVES</strong><br></h3>
                    <div class="getting-started-info">
                        <p class="text-justify">To engage in commodity exchange trading in Africa by providing the
                            physical infrastructural facilitates and electronic platforms for buying and selling of
                            grains, crops and minerals nationally and internationally for consumers,
                            industrial processors, exporters, all farmer classification and other commodity exchange
                            participants.<br></p>
                    </div><a class="btn btn-outline-primary btn-lg" role="button" href="about-us.html">Learn
                        More</a>
                </div>
                <div class="col-md-6"><img class="img-thumbnail img-fluid shadow-sm" src="assets/img/Forex.png">
                </div>
            </div>
        </div>
    </section>
</main>
