<main class="page contact-us-page">
    <section class="clean-block clean-form dark" style="background-image: url(&quot;assets/img/hacienda38.png&quot;);">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="color: #eeeeee !important;font-size: 40px;">Contact Us</h2>
                <p style="color: #ffffff;font-size: 20px;">Get in touch with&nbsp;<strong>Hacienda</strong><br></p>
            </div>
        </div>
    </section>
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <div class="row articles" style="margin: 1px;">
                    <div class="col-sm-6 col-md-4 col-lg-6 text-left item" style="padding: 0px;">
                        <div class="card feature-cards-np shadow mb-4">
                            <div class="card-body text-center">
                                <h5 class="card-title"><i class="fas fa-map-marker-alt icon" style="color: #ffffff;"></i>&nbsp;<br></h5>
                                <h5 class="card-title">&nbsp;<strong>Office Address</strong><br></h5>
                                <p class="card-text">No 22, I. T. Igbani street, Jabi District, Abuja Nigeria<br></p>
                            </div>
                        </div>
                        <div class="card feature-cards-np shadow mb-4">
                            <div class="card-body text-center">
                                <h5 class="card-title"><i class="fas fa-phone-alt icon" style="color: #ffffff;"></i>&nbsp;<br></h5>
                                <h5 class="card-title">&nbsp;<strong>Call us today</strong><br></h5>
                                <p class="card-text">+2348058888668, +2348033045820<br></p>
                            </div>
                        </div>
                        <div class="card feature-cards-np shadow mb-3">
                            <div class="card-body text-center">
                                <h5 class="card-title"><i class="fas fa-envelope-open-text icon" style="color: #ffffff;"></i>&nbsp;<br></h5>
                                <h5 class="card-title"><strong>Email us</strong><br></h5>
                                <p class="card-text">info@haciendaafrica.com<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-6 item">
                        <form class="text-left round-border">
                            <div class="form-group"><label>Name</label><input class="form-control" type="text"></div>
                            <div class="form-group"><label>Subject</label><input class="form-control" type="text"></div>
                            <div class="form-group"><label>Email</label><input class="form-control" type="email"></div>
                            <div class="form-group"><label>Message</label><textarea class="form-control"></textarea></div>
                            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div><div style="margin-bottom: -120px;margin-top: 30px;"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3940.017693876727!2d7.425778!3d9.06215!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e74da5fa85a23%3A0xd39e793507f72d5e!2s22%20I.T.%20Igbani%2C%20Utako%20900108%2C%20Abuja!5e0!3m2!1sen!2sng!4v1645928195341!5m2!1sen!2sng" width="100%" height="600" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
</div></section>
</main>
