<main class="page faq-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Hacienda <strong>Membership</strong></h2>
                <p><strong>Hacienda </strong>membership offers options to individuals or corporate entities looking to plug into Africa’s commodities market. Access is granted through world-class technology systems and processes.<br></p>
            </div>
            <div class="block-content">
                <div class="faq-item">
                    <h4 class="text-center question"><img class="img-fluid" src="assets/img/abstract-coming-soon-halftone-style-background-design_1017-27282.webp"></h4>
                </div>
            </div>
        </div>
    </section>
</main>
