<main class="page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Main <strong>Commodities</strong><br></h2>
                <p><strong>HACIENDA </strong>is building a trust economy for commodities in Africa. Our processes and activities are targeted at a future of inclusive and efficient markets.<br></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow border border-primary rounded"><img class="card-img-top w-100 d-block" src="assets/img/07_AH_Agriculture%20588-ab-ED-ED.jpg" style="height: 250px;">
                        <div class="card-body blue-gradient">
                            <h4 class="card-title">Rice<br></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow border border-primary rounded"><img class="card-img-top w-100 d-block" src="assets/img/maize-d0b9744f7770fa7a99bc5260de371abf.jpg" style="height: 250px;">
                        <div class="card-body blue-gradient">
                            <h4 class="card-title">Maize<br></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow border border-primary rounded"><img class="card-img-top w-100 d-block" src="assets/img/sorghum-c43a582f42716e8129249febd7ed6188.jpg" style="height: 250px;">
                        <div class="card-body blue-gradient">
                            <h4 class="card-title"><strong>Sorghum</strong><br></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow border border-primary rounded"><img class="card-img-top w-100 d-block" src="assets/img/soybeans-d05945c01e5d1c6060510905c3938700.jpg" style="height: 250px;">
                        <div class="card-body blue-gradient">
                            <h4 class="card-title"><strong>Soybeans</strong><br></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow border border-primary rounded"><img class="card-img-top w-100 d-block" src="assets/img/cocoa-3f31a35d2fdad09870a6c222088e4a60.png" style="height: 250px;">
                        <div class="card-body blue-gradient">
                            <h4 class="card-title">Coco<br></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card shadow border border-primary rounded"><img class="card-img-top w-100 d-block" src="assets/img/Coffee.jpg" style="height: 250px;">
                        <div class="card-body blue-gradient">
                            <h4 class="card-title">Coffee<br></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
