<!-- <main class="page landing-page">
    <div style="z-index: 999;" class="blue-gradient position-fixed">
        <span style="z-index: 999;" class="red-gradient py-1 px-2 position-absolute top-50 start-0 translate-middle"><strong>
            LIVE DATA</strong>
        </span>
        <marquee behavior="scroll" direction="left" Scrollamount=8>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mx-7">Sesame Seed Cleaned
                <strong>₦805,000</strong> <span
                    class="badge bg-success mb-2 px-2 ml-1">100.00%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="ml-7">SCIT Maize <strong>₦240,000</strong> <span
                        class="badge bg-danger px-2 ml-1">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="mx-7">Sesame Seed Cleaned <strong>₦805,000</strong> <span
                        class="badge bg-success px-2 ml-1">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="mx-7">Soyabean <strong>₦400.8</strong> <span
                        class="badge bg-danger px-2 ml-1">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    class="mx-7">Sesame Seed Cleaned <strong>₦805,000</strong> <span
                        class="badge bg-success px-2 ml-1">100.00%</span></span></span>
        </marquee>
    </div>
</main> -->
<nav class=" position-fixed" style="z-index: 4;">
    <div style="background-color: #0E2760; opacity: 0.9; color: white;">
      <span class="red-gradient py-0 px-2 position-absolute top-50 start-0 translate-middle" style="z-index: 4;"><strong>
          LIVE DATA</strong>
      </span>
      <marquee onMouseOver="this.stop()" onMouseOut="this.start()" behavior="scroll" direction="left" Scrollamount=8 class="cursor-pointer">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mx-7">Sesame Seed Cleaned
              <strong>₦805,000</strong> <span
                  class="badge bg-success mb-2 px-2 ml-1">100.00%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="ml-7">SCIT Maize <strong>₦240,000</strong> <span
                      class="badge bg-danger px-2 ml-1">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="mx-7">Sesame Seed Cleaned <strong>₦805,000</strong> <span
                      class="badge bg-success px-2 ml-1">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="mx-7">Soyabean <strong>₦400.8</strong> <span
                      class="badge bg-danger px-2 ml-1">100.00%</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                  class="mx-7">Sesame Seed Cleaned <strong>₦805,000</strong> <span
                      class="badge bg-success px-2 ml-1">100.00%</span></span></span>
      </marquee>
  </div>
    
  </nav>