<!-- Live Data Starting -->
<app-nav-live-data></app-nav-live-data>
<!-- Live Data Ends -->

<!-- the nav bar goes here -->
<div>
  <app-nav-bar></app-nav-bar>
</div>
<!-- the nav bar stops here -->



<!-- main start -->
<router-outlet></router-outlet>
<!-- main end -->



<!-- the footer goes here -->
<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-8">
        <h5><strong>HACIENDA</strong><br></h5>
        <ul>
          <li><a href="#">Maximize the value that farmers and other market participants derive from their activities.
              which is benefiting from a growing commodities ecosystem. In this way, we are indeed growing markets and
              connecting trade.<br></a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-lg-4">
        <h5><strong>Contact</strong><br></h5>
        <ul>
          <li><a href="#">No 22, I. T. Igbani street,<br>Jabi District,<br>Abuja Nigeria<br>+2348058888668<br></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2022 Copyright&nbsp;Hacienda Africa | All Rights Reserved<br></p>
  </div>
</footer>
<!-- the footer stops here -->